body,
button,
input {
    font: 0.75em Hind, sans-serif;
    line-height: 1.5em;
}

.title{
    margin-top: 0.5%;
}

#navBar {
    box-shadow: 0 0px 1px #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25% 1%;
    grid-area: header;
    // height: 3.5rem;
    transition: all .2s ease;
}

.navBar-left {
    display: flex;
    font-size: 2.5rem;
    font-weight: 700;
    font-stretch: ultra-expanded;
    color: #0c48db;
    margin: 0;
    width: 100%;
}

.tabs-nav {
    position: relative;
    display: block;
    background: #ededed;
    padding: 20px 0 10px 0;
    width: 100%;
    // box-shadow: inset 0 -10px 12px -10px rgba(0, 0, 0, 0.24);
    transition: all .2s ease;
    margin: 0;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.btn {
    background-color: #0c48db;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 0.3rem;
    font-size: 0.9rem;
    font-weight: 600;
    height: 80%;
    width: fit-content;
    box-shadow: 0 0 0.3px 0.25px #E5E5E5;
}

.btn:hover {
  background-color: #0c48db;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: 600;
  height: 80%;
  width: fit-content;
  box-shadow: 0 0 0.3px 0.25px #E5E5E5;
}

#exit {
    background-color: #F2F2F2;
    color: #333333;
    padding: 0.4rem;
}

#save{
    background-color: #1368CE;
    color: #FFFFFF; 
    padding: 0.4rem;
}

#theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
}

#theme img {
    height: 1.5rem;
    width: 1.5rem;
}


#theme p {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    margin: 0;
    width: fit-content;
    height: 100%;
}

#preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
    background-color: #F2F2F2;
    color: #4A4A4A;
}

#preview img {
    height: 1.5rem;
    width: 1.5rem;
}


#preview p {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    margin: 0;
    width: fit-content;
    height: 100%;
}

#line {
    height: 5vh;
    width: 0.001rem;
    border: 1px solid #E5E5E5;
}

.quiz-info {
    border: 1px solid rgb(241, 227, 227);
    border-radius: 7px;
    // box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px;
    padding: 2px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    width: 17.5rem;
    height: 2.25rem;
    }

  .quiz-info input {
    font-size: 1.25vw;
    font-weight: 700;
    color: #707070;
    // background-color: #7bdff6;
    // padding: 5px;
    border: hidden;
    margin: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 2rem;
  }

  .quiz-info input:focus {
    font-size: 1.25vw;
    font-weight: 700;
    color: #333333;
    border: hidden;
    margin: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 2rem;
  }
  
.image-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 7px;
    padding: 0.5rem;
    margin: 0;
    box-shadow: 0 0 0.3px 0.25px #E5E5E5;
}

.image-file{
    margin-top: 5%;
    margin-bottom: 5%;
}

  .quiz-info-button {
    width: 35%;
    font-size: 1.1vw;
    cursor: pointer;
    box-shadow: #D1D1D1 0px 0px 3px 0.5px;
    background: #D2D2D2;
    color: #333333;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
    // height: 42px;
    border: hidden;
    padding: 7px;
    position: relative;
    line-height: 0.875rem;


  }
  


// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
//   }
//   body {
//     display: grid;
//     height: 100vh;
//     font-family: "Roboto", sans-serif;
//     font-weight: 700;
//     background-color: #ecf0f1;
//   }
// .navbar {
//     border-radius: 8px;
//     overflow: hidden;
//     margin: auto;
//     position: relative;
//     background-color: #fff;
//   }
//   .main-nav:hover ~ .indicator {
//     transform: scaleX(1);
//   }
//   .main-nav {
//     display: flex;
//     list-style: none;
//   }
//   .nav-item {
//     padding: 20px;
//     cursor: pointer;
//     white-space: nowrap;
//   }
  
//   .indicator {
//     position: absolute;
//     height: 3px;
//     background-color: #e74c3c;
//     top: calc(100% - 2px);
//     transition: all 0.3s ease-in-out;
//     transform: scaleX(0);
//   }
  

.section {
  display: grid;
  width: 100%;
  grid-template-columns: 1.5fr 6fr 2fr;
  grid-template-rows: 100vh;
  --btnText:1.2vw;
  --border-radius: 4px;
}

button{
  border-width: 0px;
  font-size: var(--btnText);
}

.question-list {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  box-shadow: 0px 5px 5px #80838b;
  z-index: 1;
  padding: 4px;
  // display: none;
}

.quiz-info {
  border: 1px solid rgb(241, 227, 227);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px;
  padding: 2px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.question-list-container {
  margin: 5px 0;
  // background-color: #b2b2b2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-question-button {
  width: 80%;
  margin: 0;
  cursor: pointer;
  display: inline-block;
  box-shadow: rgb(0 0 0 / 25%) 0px -4px inset;
  background: rgb(19, 104, 206);
  color: rgb(255, 255, 255);
  border-radius: var(--border-radius);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  min-width: 42px;
  // min-height: 33px;
  padding: 5px;
  position: relative;
  line-height: 0.875rem;
}

.question-creator {
  background-color: rgb(242, 242, 242);
  // background-color: rgb(28, 137, 106);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  --input-text: 1.5vw;
  --input-textarea: 1.8vw;
}

.question-name {
  width: 90%;
  border: 1px solid #cfd8dc;
  border-radius: var(--border-radius);
  font-size: var(--input-textarea);
  color: rgb(110, 110, 110);
  outline: none;
  padding: 0.5rem 0;
  text-align: center;
  background-color: white;
  box-shadow: 0 1px 3px #80838b;
  white-space: nowrap;
}

.question-name:hover,
.question-name:focus {
  // border-color: #c0bfbf;
  outline: 2px solid #c0bfbf;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  background-color: white;
  padding: 10px 0;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px #80838b;
  color: rgb(110, 110, 110);
  font-size: var(--input-text);
  max-height: 20rem;
}

.image-container h3{
  // background-color: #80838b;
  margin: 0%;
  padding: 0px;
}

.image-container div{
  margin-top: 10px;
  width: 50%;
  // background-color: aquamarine;
}

.image-container img{
  margin-top: 10px;
  width: 50%;
  height: auto;
}

.answers-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
  align-items: center;
  // background-color: #cdcd00;
  gap: 10px;
}

.answer-field {
  width: calc(50% - 10px);
  height: 50px;
  // margin: 10px;
  // padding: 10px;
  box-shadow: rgb(0 0 0 / 25%) 0px -5px inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  color: white;

  // display: none;
}

// .answer-check {
//   width: 50px;
//   height: 50px;
//   border: 4px solid white;
//   border-radius: 50%;
//   background-color: inherit;
// }

.answer-field:nth-of-type(1) {
  background-color: rgba(255, 0, 0, 0.85);
}

.answer-field:nth-of-type(2) {
  background-color: rgba(0, 0, 255, 0.85);
}

.answer-field:nth-of-type(3) {
  background-color: rgba(0, 128, 0, 0.85);
}

.answer-field:nth-of-type(4) {
  background-color: rgba(255, 165, 0, 0.85);
}

.answer-field input {
  background-color: inherit;
  width: 65%;
  outline: none;
  border: none;
  font-size: 20px;
  color: white;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.options {
  padding: 5px;
  box-shadow: 0px 5px 5px #80838b;
  z-index: 1;
  overflow: hidden;
  // display: none;
  // overflow-y: scroll;
  // overflow-x: hidden;
}

.options input{
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
  margin-top: 5px;
  width: 100%;
  height: 25px;
}

.quiz-options {
  display: none;
  background-color: brown;
}

.question-options {
  --header-text: 1.25vw;
  display: flex;
  color: rgb(110, 110, 110);
  font-size: var(--header-text);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  // background-color: burlywood;
  font-weight: 500;
  max-height: 100%;
  overflow:hidden;
}

.title-right{
  display: flex;
  width: 100%;
  font-size: 2vw;
  margin-top: 2%;
  // background-color: #cdcd00;
}

// .option {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: flex-start;
//   margin-bottom: 15px;
// }

.option-label {
  // display: flex;
  margin-top: 15px;
  align-items: center;
  margin-bottom: 5px;
  // margin-bottom: 3px;
}


// .option svg {
//   width: 50px;
//   height: 50px;
//   position: relative;
//   left: 0;
// }

.option select {
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
  margin-top: 5px;
  width: 100%;
  height: 25px;
}

.option select option {
  // border-color: rgb(204, 204, 204);
  // border-radius: 4px;
  // border-style: solid;
  // border-width: 1px;
  // padding: 10px;
  // margin-top: 5px;
  width: 100%;
  height: 30px;
}

.quiz-image{
  margin-top: 10px;
  width: 100px;
  height: auto;
}
.option-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // background-color: #80838b;
  border-radius: 4px;
}
.option-button {
  width: 40%;
  padding: 3px 0;
  background-color: #2ab139;
  border-radius: var(--border-radius);
  outline: none;
  color: rgb(245, 244, 244);
  font-size: var(--input-text);
  border: 1px solid black;
  margin-bottom: 1.5vh;
}

.option-button:hover {
  background-color: rgb(19, 104, 206);
  color: white;
}

.image-sth{

  // width: 100%;
  // max-height: 50%;
  // max-width: 50%;
  // background-color: #80838b;
  // margin-left: 30%;
  // margin-top: 10px;
  height: 80%;
  padding: 0px;
  padding: 2vh;
  justify-content: center;
  display: flex;
}

.image-sth img{
  max-height: 80%;
  max-width: 80%;
  // padding: 2vh;
  justify-content: center;
  width: fit-content;
}

.image-sth1{
  height: 80%;
  padding: 0px;
  padding: 2vh;
  // justify-content: center;
  display: flex;
}

.image-sth1 > img{
  max-height: 50%;
  max-width: 50%;
  // padding: 2vh;
  // justify-content: center;
  width: fit-content;
}

.bottom-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // background-color: #80838b;
  border-radius: 4px;
  margin-top: 15px;
}

.bottom-button button{
  width: 45%;
  padding: 3px 0;
  background-color: #2ab139;
  border-radius: var(--border-radius);
  outline: none;
  color: rgb(245, 244, 244);
  font-size: 15px;
  border: 1px solid black;
  margin-bottom: 1.5vh;
}