<div class="container">
    <img class="background" src="https://i.imgur.com/DmVkmUE.jpg">
    <div class="content">
        <div class class="code">
            <div class="join">
                <div id="joinn">Join at: www.Qz.com</div>
            </div>
            <div class="pin">
                <div id="pinn">GAMEPIN:{{pinGame}}</div>
            </div>
        </div>
        <div class="wait">
            <div class="hihi">
                <p>Watiting for player</p>
                <div class="start">
                    <button class="btn" (click)="startGame()">Start</button>
                </div>
            </div>
        </div>
        <div class="user">
            <p class="K"  *ngFor="let item of playerList$|async">{{item.name}}</p>
        </div>
        <div class="icon">
            <div class="icon-1">
                <img src="../../../../assets/user.png" class="icon-chat">
                <div class="num">{{lenghtPlayer}}</div>
            </div>
            <div class="icon-2">
                <img src="../../../../assets/volume.png" class="icon-volume">
                <img src="../../../../assets/settings.png" class="icon-setting">
            </div>
        </div>
    </div>
</div>
