<!-- <nav class="navbar">
    <ul class="main-nav">
      <li class="nav-item">Home</li>
      <li class="nav-item">Blog</li>
      <li class="nav-item">Image Gallery</li>
    </ul>
</nav> -->
<div id="navBar">
    <div class="navBar-left">
        <div class="title">Qz</div>
        <div class="quiz-info">
            <h1> Enter Qz Title...</h1>
            <button class="quiz-info-button">Settings
            </button>
        </div>
     
    </div>

    
    
    <div class="navBar-right">
        <button class="btn" id="theme">
            <!-- <img src="../../assets/6878705.png">
            <p>Play</p> -->
            <img src="../../../assets/palette.png">
            themes
        </button>
        <button class="btn" id="preview">
            <!-- <img src="../../assets/6878705.png">
            <p>Play</p> -->
            <img src="../../../assets/eye.png">
            preview
        </button>
        <div id="line"></div>


        
        <button class="btn" id="exit">Exit
        </button>
        <button class="btn" id="save">Save
        </button>
    </div>
</div>




