body,
button,
input {
    font: 1.25em Hind, sans-serif;
    line-height: 1.5em;
}

.title{
    margin-top: 0.5%;
}

#navBar {
    // box-shadow: 0 0 0.3px 0.3px #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25% 1%;
    grid-area: header;
    // height: 3.5rem;
    transition: all .2s ease;
}

.navBar-left {
    display: flex;
    font-size: 2.5rem;
    font-weight: 700;
    font-stretch: ultra-expanded;
    color: #0c48db;
    margin: 0;
    width: 100%;
}

.tabs-nav {
    position: relative;
    display: block;
    background: #ededed;
    padding: 20px 0 10px 0;
    width: 100%;
    // box-shadow: inset 0 -10px 12px -10px rgba(0, 0, 0, 0.24);
    transition: all .2s ease;
    margin: 0;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.btn {
    background-color: #0c48db;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 0.3rem;
    font-size: 0.9rem;
    font-weight: 600;
    height: 80%;
    width: fit-content;
    box-shadow: 0 0 0.3px 0.25px #E5E5E5;
}

#exit {
    background-color: #F2F2F2;
    color: #333333;
    padding: 0.4rem;
}

#save{
    background-color: #1368CE;
    color: #FFFFFF; 
    padding: 0.4rem;
}

#theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
}

#theme img {
    height: 1.5rem;
    width: 1.5rem;
}


#theme p {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    margin: 0;
    width: fit-content;
    height: 100%;
}

#preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
    background-color: #F2F2F2;
    color: #4A4A4A;
}

#preview img {
    height: 1.5rem;
    width: 1.5rem;
}


#preview p {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    margin: 0;
    width: fit-content;
    height: 100%;
}

#line {
    height: 5vh;
    width: 0.001rem;
    border: 1px solid #E5E5E5;
}

.quiz-info {
    border: 1px solid rgb(241, 227, 227);
    border-radius: 7px;
    // box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px 0px;
    padding: 2px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    width: 17.5rem;
    height: 2.25rem;
    }

  .quiz-info h1 {
    font-size: 1.25vw;
    font-weight: 700;
    color: #707070;
    // background-color: #7bdff6;
    // padding: 5px;
    margin: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 2rem;
  }
  
  .quiz-info-button {
    width: 35%;
    font-size: 1.1vw;
    cursor: pointer;
    box-shadow: #D1D1D1 0px 0px 3px 0.5px;
    background: #D2D2D2;
    color: #333333;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
    // height: 42px;
    border: hidden;
    padding: 7px;
    position: relative;
    line-height: 0.875rem;


  }
  


// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
//   }
//   body {
//     display: grid;
//     height: 100vh;
//     font-family: "Roboto", sans-serif;
//     font-weight: 700;
//     background-color: #ecf0f1;
//   }
// .navbar {
//     border-radius: 8px;
//     overflow: hidden;
//     margin: auto;
//     position: relative;
//     background-color: #fff;
//   }
//   .main-nav:hover ~ .indicator {
//     transform: scaleX(1);
//   }
//   .main-nav {
//     display: flex;
//     list-style: none;
//   }
//   .nav-item {
//     padding: 20px;
//     cursor: pointer;
//     white-space: nowrap;
//   }
  
//   .indicator {
//     position: absolute;
//     height: 3px;
//     background-color: #e74c3c;
//     top: calc(100% - 2px);
//     transition: all 0.3s ease-in-out;
//     transform: scaleX(0);
//   }
  