<div class="container">
  <!-- loading khi bắt đầu chơi -->
  <div class="loading" *ngIf="isShowCountdown">
    <div class="loading-text">
      <p>{{time}}</p>
    </div>
    <div class="loading-animation">
      <div class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="background__img">
      <img src="https://i.imgur.com/0t72GFL.jpg">
    </div>
  </div>
  <div class="show__question" *ngIf="isQuestionScreen">
    <div class="top">
      <div class="quantity-question">
        <p>{{currentIndex}} of {{lengthQuestions}}</p>
      </div>
      <div class="img">
        <div class="quiz">
          <p>{{(questionData$|async)?.questionType}}</p>
        </div>
      </div>
    </div>
    <div class="center-question">
      <div class="background">
        <img src="https://i.imgur.com/DmVkmUE.jpg">
      </div>
      <div class="choice-question" *ngIf="!isResultScreen">
          <div class="answerItem" (click)="selectAnswer(item)" *ngFor="let item of (questionData$|async)!.answers; let i=index">
            <div [class]="listIcon[i]"></div>
          </div>
      </div>
      <div class="content" *ngIf="isResultScreen && isSelectAnswer" (click)="renderResultQuestion()">
        <div class="lds-facebook">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="content" *ngIf="isResultScreen && !isSelectAnswer && isAnwerCorrect">
        <div class="img-Correct">
          <img src="https://cdn-icons-png.flaticon.com/512/5610/5610944.png">
        </div>
        <div class="correct">
          <p>Correct</p>
        </div>
      </div>
      <div class="content" *ngIf="isResultScreen && !isSelectAnswer && !isAnwerCorrect">
        <div class="img-Correct">
          <img src="https://img.freepik.com/free-icon/cancel_318-580464.jpg">
        </div>
        <div class="correct">
          <p>Incorrect</p>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="user-name">
        <!-- <p>{{infoPlayer.name}}</p> -->
        <p>{{(playerData$|async)?.name}}</p>
      </div>
      <div class="score">
        {{scorePlayer}}
      </div>
    </div>
  </div>
  <!-- <div class="show__question" *ngIf="isShowRank"> -->
    <div class="show__question" *ngIf="isShowRank">
    <div class="center-question" style="width: 100%; height: 100%;">
      <div class="background">
        <img src="https://i.imgur.com/DmVkmUE.jpg">
      </div>
      <div class="content">
        <div class="correct">
          <p>{{rank}}</p>
        </div>
        <div class="correct">
          <p>{{(playerData$|async)?.name}}</p>
        </div>
        <div class="correct">
          <p>{{(playerData$|async)?.score}} score</p>
        </div>
      </div>
    </div>

  </div>
  <!-- Trang loading chuyển câu hỏi -->
</div>
