.ren-act {
  margin-top: 2%;
  margin-left: 5%;
  font-size: 1.3rem;
  background-color: #fff;
  
}
.ren-act-1 {
  color: black;
  background-color: #fff;
}
img {
  width: 10%;
  height: 10%;
}
.math {
  display: flex;
  // margin-left: 3%;
  gap: 3rem;

}
* {
  box-sizing: border-box;
  background-color: #fff;
}
.slider {
  width: 1380px;
  text-align: center;
  overflow: hidden;
  justify-content: center;
  // display: block;
  // align-items: center;
  // margin-top: 1%;
  margin-left: 60px;
}
.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 15px;
  // margin-left: 1%;
  /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}
.slides>button {
  font-weight: 700;
  font-size: 25px;
  // margin-left: 1%;

  /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}
.slides::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  padding: 100px;
  
 
  // margin-top: 15px

}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;

  
}
.slides::-webkit-scrollbar-track {
  background: transparent;
  margin-left: 20px;
}
// .slides>button {
//   scroll-snap-align: start;
//   flex-shrink: 0;
//   width: 200px;
//   height: 200px;
//   margin-right: 10px;
//   border-radius: 10px;
//   background: #eee;
//   transform-origin: center center;
//   transform: scale(1);
//   transition: transform 0.5s;
//   position: relative;

//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // font-size: 50px;
// }

