.ren-act {
  // margin-top: 2%;
  margin-left: 5%;
  font-size: 1.3rem;
 
  
}

nav{
  position: fixed;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1168 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1168 * {
  box-sizing: border-box;
}
.snip1168 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.snip1168 a {
  padding: 0.5em 0;
  color: #3d3d3d;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.snip1168 a:before,
.snip1168 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1168 a:before{
  top: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #c0392b;
}
.snip1168 a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #3d3d3d;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}

.snip1168 a:hover:before,
.snip1168 .current a:before {
  opacity: 1;
  width: 100%;
}
// .snip1168 a:hover:before{
//   opacity: 1;
//   width: 100%;
// }

.snip1168 a:hover:after,
.snip1168 .current a:after {
  max-width: 100%;
}
// .snip1168 a:hover:after
// {
//   max-width: 100%;
// }

// .arrow {
  
//   // margin-right: 6%;
// }

// .ren-act-1 {
  
  

// }

// .ren-act-2 {
//   font-size: 1.5rem;
// }

// .ren-act-2 #down {
//   background-color: white;
//   border: #ffffff;
//   margin-top: 1%;
//   margin-left: 2%;
//   width: 20%;
//   height: auto;
//   font-size: 1.3rem;
// }

// .ren-act-3 #down {
//   background-color: white;
//   border: #ffffff;
//   margin-top: 1%;
//   margin-left: 3%;
//   width: 15%;
//   height: auto;
//   font-size: 1.3rem;
// }


img {
  width: 10%;
  height: 10%;
}

// #down {
//     background-color: white;
//     border: #ffffff;
//     margin-top: 1%;
//     width: 15%;
//     height: auto;
//     font-size: 1.3rem;
// }


// #down:hover {
//     background-color: whitesmoke;
//     // border: #f33c3c;
//     // color: white;
// }

.math {
  display: flex;
  // margin-left: 3%;
  gap: 3rem;

}


* {
  box-sizing: border-box;
}

.slider {
  width: 1380px;
  text-align: center;
  overflow: hidden;
  justify-content: center;
  // display: block;
  // align-items: center;
  // margin-top: 1%;
  margin-left: 60px;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 7px;
  // margin-left: 1%;
  /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}

.slides>button {
  font-weight: 700;
  font-size: 25px;
  // margin-left: 1%;

  /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}

.slides::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  // margin-top: 15px

}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides>button {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  // font-size: 50px;
}