
<mat-accordion   >
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header class="ren-act">
      <mat-panel-title class="ren-act-1" >
        Math  
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="slider">
      <div class="slides">
        <div class="math">
          <div *ngFor="let item of taskquizMath" >
            <app-taskquiz [taskquiz]="item"></app-taskquiz>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>







<mat-accordion  >
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle >
    <mat-expansion-panel-header class="ren-act" >
      <mat-panel-title class="ren-act-1" >
        English and language  
     </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="slider">
      <div class="slides">
    <div class="math">
      <div *ngFor="let item of taskquizEnglish" >
        <app-taskquiz [taskquiz]="item"></app-taskquiz>
      </div>
    </div>
      </div>
    </div>  
  </mat-expansion-panel>
</mat-accordion>






<mat-accordion  >
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header class="ren-act">
      <mat-panel-title class="ren-act-1" >
        Science  
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="slider">
      <div class="slides">
    <div class="math">
      <div *ngFor="let item of taskquizScience" >
        <app-taskquiz [taskquiz]="item"></app-taskquiz>
      </div>
    </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion  >
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header class="ren-act">
      <mat-panel-title class="ren-act-1" >
        Languages ​​of the world
      </mat-panel-title>
    
    </mat-expansion-panel-header>
    <div class="slider">
      <div class="slides">
    <div class="math">
      <div *ngFor="let item of taskquizScience" >
        <app-taskquiz [taskquiz]="item"></app-taskquiz>
      </div>
    </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion  >
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header class="ren-act">
      <mat-panel-title class="ren-act-1" > 
        Computer Science and Skills
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="slider">
      <div class="slides">
    <div class="math">
      <div *ngFor="let item of taskquizScience" >
        <app-taskquiz [taskquiz]="item"></app-taskquiz>
      </div>
    </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion  >
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header class="ren-act">
      <mat-panel-title class="ren-act-1" > 
        Vocational and technical education
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="slider">
      <div class="slides">
    <div class="math">
      <div *ngFor="let item of taskquizScience" >
        <app-taskquiz [taskquiz]="item"></app-taskquiz>
      </div>
    </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion> 



 