<!-- <div class="navbar">
    <nav>
        <ul class="snip1168">
            <img src="../../../assets/logo.png" class="logo">
            <li><a href="home" data-hover="Home">Home</a></li>
            <li><a href="library" data-hover="Library">Library</a></li>
            <li><a href="marketplace" data-hover="Marketplace">Marketplace</a></li>
            <div class="right">
                <img src="../../../assets/6878705.png" class="play">
                <img *ngIf="authService.userInfo" src="../../../assets/add.png" class="add">
                <button class="login" *ngIf="!authService.userInfo"
                    (click)="authService.loginWithGoogle()">Login</button>

                <button class="logout" *ngIf="authService.userInfo"
                    (click)="authService.logoutWithGoogle()">Logout</button>
                <img src="../../../assets/avatar.png" class="ava" mat-button [matMenuTriggerFor]="menu">
                <mat-menu #menu="matMenu">

                    <img [src]="authService.userInfo?.photoURL" alt="">
                    <p>{{authService.userInfo?.displayName}}</p>
                </mat-menu>


            </div>
        </ul>


    </nav>

</div> -->

<div id="navBar">
    <div class="navBar-left">
        <div class="title">Qz</div>
        <!-- <div class="quiz-info">
            <input value="{{quiz.quizName}}" placeholder="Enter Qz Title..." [(ngModel)]="quiz.quizName">
            <button class="quiz-info-button" (click)="changeSettingQuiz()">Settings
            </button>
        </div> -->
        <ul class="snip1168">
            <!-- <img src="../../../assets/logo.png" class="logo"> -->
            <li><a id="home" href="home" data-hover="Home">
                    <img src="assets/home.png">
                    Home
                </a></li>
            <li><a href="library" data-hover="Library">
                    <img src="assets/list.png">
                    Library
                </a></li>
            <li><a href="marketplace" data-hover="Marketplace">
                    <img src="assets/shop.png">
                    Marketplace
                </a></li>

        </ul>
    </div>



    <div class="navBar-right">
        <!-- <button class="btn" id="theme">
            <img src="../../../assets/palette.png">
            themes
        </button>
        <button class="btn" id="preview">
            <img src="../../../assets/eye.png">
            preview
        </button>
        <div id="line"></div> -->
        <!-- <div class="right"> -->
        <button id="play">
            <!-- <img src="../../../assets/play-button.png" > -->
            <a class="btn" href="join-game">
                Play
            </a>
        </button>
        <button id="create" *ngIf="authService.userInfo">
            <!-- <img src="../../../assets/add.png"> -->
            <a class="btn" href="create-quiz">
                Create
            </a>
        </button>
        <button class="btn" id="login" *ngIf="!authService.userInfo" (click)="authService.loginWithGoogle()">Login
        </button>

        <!-- <button class="btn" *ngIf="authService.userInfo" (click)="authService.logoutWithGoogle()">Logout
        </button> -->
        <button id="avatar" *ngIf="authService.userInfo">
            <img [src]="authService.userInfo.photoURL" alt="" mat-button [matMenuTriggerFor]="menu">
            <!-- <div>{{authService.userInfo?.displayName}}</div> -->
        </button>
        <mat-menu #menu="matMenu">
            <div id="name-display">
                User: {{authService.userInfo?.displayName}}
            </div>
            <button id="logout" *ngIf="authService.userInfo" (click)="authService.logoutWithGoogle()">
                <img src="assets/logout.png">
                Sign out
            </button>
        </mat-menu>


        <!-- </div> -->


        <!-- <button class="btn" id="exit">Exit
        </button>
        <button (click)="saveQuiz()" class="btn" id="save">Save</button> -->
    </div>
</div>