<div id="navBar" >
    <div class="navBar-left">
        <div class="title">Qz</div>
        <div class="quiz-info">
            <input value="" placeholder="Enter Qz Title...">
            <button class="quiz-info-button">Settings
            </button>
        </div>

    </div>



    <div class="navBar-right">
        <button class="btn" id="theme">
            <img src="../../../assets/palette.png">
            themes
        </button>
        <button class="btn" id="preview">
            <img src="../../../assets/eye.png">
            preview
        </button>
        <div id="line"></div>



        <button class="btn" id="exit">Exit
        </button>
        <button class="btn" id="save">Save</button>
    </div>
</div>