 <div class="topics">Topics</div>
<!-- <div class="topics-1">
  <button id="down1">Math</button>
  <button id="down2">English</button>
  <button id="down3">History</button>
  <button id="down4">Literature</button>
  <button id="down5">Physic</button>
  <button id="down6">Geography</button>
</div> -->
<div class="slider">
  <div class="slides">
    <button id="down1">Math</button>
    <button id="down2">English</button>
    <button id="down3">History</button>
    <button id="down4">Literature</button>
    <button id="down5">Physic</button>
    <button id="down6">Geography</button>
    <button id="down7">Geography</button>
    <button id="down8">Geography</button>
    <button id="down9">Geography</button>
  </div>
  </div>

<div class="topics-2">New and Trending</div>
<div class="math">
  <div *ngFor="let item of trending" >
    <app-trending [trending]="item"></app-trending>
  </div>
</div>

<div class="topics-2">English Grammar </div>
<div class="math">
  <div *ngFor="let item of Eng" >
    <app-trending [trending]="item"></app-trending>
  </div>
</div> 
<!-- <div class="slider"> -->
  
  <!-- <a href="#slide-1">1</a>
  <a href="#slide-2">2</a>
  <a href="#slide-3">3</a>
  <a href="#slide-4">4</a>
  <a href="#slide-5">5</a> -->
  

