@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
.container {
    /* width: 1200px;  */
    /* height: 100%;
  
    margin: 0 auto; */
    /* background-color: #F8F2FA; */
    display:  flex;
    background:#F8F2FA; 
    position:absolute;  
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    align-items: center; 
    align-content: center;
    justify-content: center;
    

    margin-left: auto;
    margin-right: auto
    

    
    
    
    
}
img {
    display: flex;
    width: 29%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.lets{

    font-size: 5rem;

    font-family: 'Inter', sans-serif;
    

    
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;




}

.fontfeel{
    margin-top: 35px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}
.feel{

    font-size: 1rem;
    font-family: 'Inter', sans-serif;


}

#btn{
    width: 30%;
    height: 50px;
    margin: 0 auto;
    border: none; /* <-- This thing here */
    border:solid 0.5px #6E6E6E;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: black;
    margin-bottom: 7px;
    margin-top: 40px;
}
.pin{
    align-items: center;
    justify-content: center;
    

}
.join{
  
    /* margin-bottom: 300px; */
}
#btn1{
    width: 30.5%;
    height: 50px;
    margin: 0 auto;
    border: none; /* <-- This thing here */
    border-bottom: solid 5px #2411FF;
    border-radius: 8px;
    background-color: #1368CE;
    color: white;
    margin-bottom: 30px;
    border-left:solid 0.5px #2411FF;
    border-right:solid 0.5px #2411FF;

    
}
#btn1:hover{
    background-color: #1368CE;
    color: white;
    border-bottom:solid 2px #2411FF;
    border-left:solid 0 #2411FF;
    border-right:solid 0px #2411FF;


}
input{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    
}
button{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    
}







