

<div class="container"><div class="enterpin">


    <div class="main"  >
     
        <img src="/client/src/assets/img/fotor_2023-3-1_10_16_18.png" alt="">
        <span class="lets" >Let's play</span>
        <span class="fontfeel"  >Do you feel confidient? here you’ll challenge </span>
        <span class="feel">one of the most difficult questions</span    >
        <input class="pin" id="btn" type="text" placeholder ="Enter pin">
        <!-- <button class="join" id="btn1" type="text" placeholder ="Join game"></button> -->
     <button class="btnJoin" id="btn1">Join Game </button>
    
           
        </div>
        </div>
        </div>