<div class="container">
  <div class="background">
    <img src="https://i.imgur.com/DmVkmUE.jpg" alt="image">
  </div>
  <div class="load" *ngIf="isShowCountdown" >
    <div class="question">
        <h1 style="color: white; font-size:5vw;">{{this.timer}}</h1>
    </div>

    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="load" *ngIf="isShowQuestion" >
    <div class="question">
      <div class="content-question">
        {{questionData?.title}}
      </div>
      <button *ngIf="!isNextQuestion" (click)="skipQuestion()">Skip</button>
    </div>
    <div class="time-img">
      <div class="time">
        <p>{{timerQuestion}}</p>
      </div>
      <div class="img">
        <img [src]="questionData?.backgroundImage" onerror="this.style.display='none'">
      </div>
      <div class="next-page">
        <button  *ngIf="isNextQuestion" (click)="nextQuestion()">Next</button>
      </div>
    </div>
    <div class="answers">
      <div class="choice-question">
        <div class="answerItem" *ngFor="let item of questionData?.answers;let i=index">
          <span [class]="listIcon[i]"></span>
          <div class="content-answer">
            {{item.body}}
          </div>
          <div class="correct-answer" >
            <img *ngIf="timerQuestion==0 && item.isCorrect" src="https://i.imgur.com/yd9guup.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content" *ngIf="isShowRank" >
    <div class="background">
      <img src="https://i.imgur.com/DmVkmUE.jpg">
    </div>
    <div class="scoreboard">
      <div class="header">
        <p>Scoreboard</p>
        <button (click)="showNewQuestion()">Next</button>
      </div>
      <div class="rank"  *ngFor="let player of (playerList$ |async)">
        <div class="member" >
          <div class="user-name">
            <p>{{player.name}}</p>
          </div>
          <div class="score">
            <p>{{player.score}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content" *ngIf="isShowSummary" >
  <!-- <div class="content"  > -->
    <div class="background">
      <img src="https://i.imgur.com/DmVkmUE.jpg">
    </div>
    <div class="scoreboard">
      <div class="header">
        <p>Summary</p>
        <button (click)="exit()">Exit</button>
      </div>
      <div class="rank"  *ngFor="let player of playerList$ |async">
        <div class="member">
          <div class="user-name">
            <p>{{player.name}}</p>
          </div>
          <div class="score">
            <p>{{player.score}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
