

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.background{
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background-color: black;
  img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 60%;
  }
}
.question{
  width: 80%;
  margin-top: 0.5%;
  height: 15%;
  z-index: 1;
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  button{
      position: absolute;
      right: 2%;
      top: 2%;
      padding: 0.5rem ;
      width: 5rem;
      font-weight: bold;
      font-size: 1.4vw;
      border:none;
      cursor: pointer;
      background-color: #F9F9F9;
      color: black;
      border-radius: 0.2rem;
  }
}
.content-question{
  width: auto;
  font-size: 2.5vw;
  font-weight: 500;
  line-height: 0.9em;
  // word-wrap: ;
  background-color: #F8F2FA;
  display:block;
  padding: 0.5em 0.3em;
  border-radius: 3px;
}
.time-img{
  display: flex;
  width: 96%;
  height: 45%;
  display: flex;
  align-items: center;
  z-index: 1;
  opacity: 95%;
  padding: 1em 1em;
}
.time{
  width: 6rem;
  height: 6rem;
  border-radius: 150px;
  background-color: #1368CE;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
      font-size: 1.6rem;
      font-weight: 700;
      color: white;
      margin: 0;
  }
}
.img{
  display: flex;
  padding: 5px 5px;
  justify-content: center;
  align-items: center;
  width: 83%;
  height: 100%;
  // background-color: #1E6B09;
  object-fit: cover;
  img{
      width: 30%;
      height: 100%;
      background-color: #fff;
      object-fit: cover;
  }
}
.next-page{
  width: 10%;

  button{
      padding: 0.5rem ;
      width: 6rem;
      font-size: 1.4vw;
      font-weight: 700;
      border:none;
      cursor: pointer;
      background-color: #F9F9F9;
      color: black;
      border-radius: 0.4rem;
      box-shadow: 0px 0.29rem 0px 0px #A7A7A7;
  }
  button:hover{
      background-color: #DFDFDF;
      transform: translateY(2px);
      box-shadow: 0 0.19rem 0 0 #A7A7A7;
  }
}
.answers{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.choice-question{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.answerItem{
  width :45%;
  background-color: rgb(115, 209, 178);
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0.5em;
}
.square{
  width: 2rem;
  height: 2rem;
  background-color: #f8f9fa;
}
.triangle{
  width: 0;
  height: 0;
  border-left: 1.5rem transparent solid;
  border-right: 1.5rem transparent solid;
  border-bottom: 2.5rem #F8F2FA solid;
}
.rhombus{
  width: 1.7rem;
  height: 1.7rem;
  background: #f8f9fa;
  transform: rotate(-45deg);

}
.circle{
  width: 2rem;
  height: 2rem;
  border-radius: 150px;
  background-color: #F8F2FA;
}
.icon{
  width: 10%;
  height: auto;
  background-color: #f8f9fa;
}
.content-answer{
  font-size: 3vw;
  margin-left: 0.5em;
  font-weight: 700;
  width:80%;
  height: auto;
  color: white;
}
.correct-answer{
  display: flex;
  justify-content: flex-end;
  width: 7%;
  height: 60%;
}
.answerItem{
  padding: 0.5rem 1rem;
}
.answerItem:nth-child(1){
  border: 1px solid #A6142C;
  background-color: #E21B3C;
  box-shadow: 0px 0.29rem 0px 0px #A6142C;
}
.answerItem:nth-child(1):hover{
  background-color: #D01937;
}
.answerItem:nth-child(2){
  border: 1px solid #0E4D98;
  background-color: #3D68BA;
  box-shadow: 0px 0.3rem 0px 0px #0E4D98;
}
.answerItem:nth-child(2):hover{
  background-color: #1260BE;
}
.answerItem:nth-child(3){
  border: 1px solid #A97C00;
  background-color: #C8A800;
  box-shadow: 0px 0.3rem 0px 0px #A97C00;

}
.answerItem:nth-child(3):hover{
  background-color: #c79200;
}

.answerItem:nth-child(4){
  border: 1px solid #1E6B09;
  background-color: #4BA812;
  box-shadow: 0px 0.3rem 0px 0px #1E6B09;
}
.answerItem:nth-child(4):hover{
  background-color: #237e0b;
}
